web:
    hooks:
        bingApi:
            title: "BingApi"
            tag:
            	title: "Bing UET"
            	tagId: "Your \"Bing tag ID\""
            meta:
            	title: "Verification"
            	meta: "Meta"