web:
    hooks:
        bingApi:
            title: "BingApi"
            tag:
            	title: "Bing UET"
            	tagId: "Vaše \"Bing tag ID\""
            meta:
            	title: "Ověření"
            	meta: "Meta"